@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Open+Sans:wght@300;400;600&display=swap");
:root {
  --font-primary: "Open Sans", sans-serif;
  --font-heading: "DM Sans", sans-serif;
  --size-base: 1.9rem;
  --size-sm: 1.4rem;
  --size-min: 1.1rem;
  --size-mid: 1.5rem;
  --size-large: 2.4rem;
  --size-header: clamp(2.8rem, 0.6rem + 1.6vw, 3.2rem);
  --color-primary: #363636;
  --color-inverted: #ffffff;
  --color-accent: #8f29e0;
  --grey: #ebe9f5;
  --grey-light: #faf9ff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
html {
  font-size: 10px;
  font-family: var(--font-primary);
  color: var(--color-primary);
}
/*Anonucment bar*/
.announcement {
  display: inline-block;
  height: 100%;
  text-align: center;
  width: 100%;
  background: rgb(0, 0, 0);
  color: white;
  font-family: Arial, sans;
  margin: 8px;
  padding: 0;
  vertical-align: middle;
  font-size: 0.9em;
}

.announcement a { 
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #ccc; 
}

.announcement a:hover {
  color: rgb(124, 124, 124);
}
 /* Navbar container */
 .navbar {
    overflow: hidden;
    display: flex;
  }
 
  .navbar a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
 
  .menuul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
  }
  
  .menuli {
    float: left;
    border-right:1px solid #c7c7c73b;
  }
  
  .menuli:last-child {
    border-right: none;
  }
  
  .menuli a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .menuli a:hover:not(.active) {
    background-image: linear-gradient(120deg, #6978ff69 0%, #6ecfff5b 100%);
  }
  
  .active {
    background-image: linear-gradient(120deg, #6978ff 0%, #6ecfff 100%);
  }

/*artikelsida*/
:root{
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
  }
 
  *{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
 
  .hero-section{
    align-items: flex-start;
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
  }
 
  .card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
  }
 
  @media(min-width: 540px){
    .card-grid{
      grid-template-columns: repeat(2, 1fr);
    }
  }
 
  @media(min-width: 960px){
    .card-grid{
      grid-template-columns: repeat(4, 1fr);
    }
  }
 
  .card{
    list-style: none;
    position: relative;
  }
 
  .card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
 
  .card__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition:
      filter 200ms linear,
      transform 200ms linear;
  }
 
  .card:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }
 
  .card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
 
  .card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }
 
  .card__category{
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }
 
  .card__heading{
    color: var(--text-lighter);
    font-size: 1.7rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.959);
    line-height: 1.3;
  }
 
  /* The colour of the indicators */
 
  .blog .carousel-indicators li {
    background: #708198;
    border-radius: 50%;
    width: 8px;
    height: 8px;
  }
 
  .blog .carousel-indicators .active {
    background: #0fc9af;
  }
 
 
 
 
  .item-carousel-blog-block {
    outline: medium none;
    padding: 15px;
  }
 
  .item-box-blog {
    border: 1px solid #dadada;
    text-align: center;
    z-index: 4;
    padding: 20px;
  }
 
  .item-box-blog-image {
    position: relative;
  }
 
  .item-box-blog-image figure img {
    width: 100%;
    height: auto;
  }
 
  .item-box-blog-date {
    position: absolute;
    z-index: 5;
    padding: 4px 20px;
    top: -20px;
    right: 8px;
    background-color: #41cb52;
  }
 
  .item-box-blog-date span {
    color: #fff;
    display: block;
    text-align: center;
    line-height: 1.2;
  }
 
  .item-box-blog-date span.mon {
    font-size: 18px;
  }
 
  .item-box-blog-date span.day {
    font-size: 16px;
  }
 
  .item-box-blog-body {
    padding: 10px;
  }
 
  .item-heading-blog a h5 {
    margin: 0;
    line-height: 1;
    text-decoration:none;
    transition: color 0.3s;
  }
 
  .item-box-blog-heading a {
      text-decoration: none;
  }
 
  .item-box-blog-data p {
    font-size: 13px;
  }
 
  .item-box-blog-data p i {
    font-size: 12px;
  }
 
  .item-box-blog-text {
    max-height: 100px;
    overflow: hidden;
  }
 
  .mt-10 {
    float: left;
    margin-top: -10px;
    padding-top: 10px;
  }
 
  .btn.bg-blue-ui.white.read {
    cursor: pointer;
    padding: 4px 20px;
    float: left;
    margin-top: 10px;
  }
 
  .btn.bg-blue-ui.white.read:hover {
    box-shadow: 0px 5px 15px inset #4d5f77;
  }
body {
  font-size: var(--size-base);
  width: 90%;
  max-width: 80rem;
  margin: auto;
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}


h1 {
  font-family: var(--font-heading);
  font-size: var(--size-header);
  line-height: 140%;
}
h2 {
  font-family: var(--font-heading);
  font-size: var(--size-large);
  line-height: 180%;
}
p {
  line-height: 200%;
}
p + p {
  margin-top: 1.2rem;
}

/*lista TOP 10*/
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0491aa;
    color: white;
  }

  td a{
    text-decoration: none;
    color:#0491aa;
  }



.sam{
    background: #d6efff9c;


}
.text--size-min {
  font-size: var(--size-min);
}


    /*underlinecool*/
    .underline--magical {
        background-image: linear-gradient(120deg, #8490fa 0%, #8fd3f4 100%);
        background-repeat: no-repeat;
        background-size: 100% 0.2em;
        background-position: 0 88%;
        transition: background-size 0.25s ease-in;
      }
       .underline--magical:hover {
          background-size: 100% 88%;
        }


.button{
  padding: 0.4rem 1rem;
  border: none;
  background: var(--color-accent);
  color: var(--color-inverted);
  border-radius: 0.2rem;
}
.button a{
    padding: 0.4rem 1rem;
    border: none;
    background: var(--color-accent);
    color: var(--color-inverted);
    border-radius: 0.2rem;
  }


figure {
  padding: 0.8rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}
figcaption {
  font-size: var(--size-min);
}
img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.input {
  border: 0.1rem solid var(--grey);
  height: 2.8rem;
}
.hidden--mobile{
  display: none;
}
/**/

article {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}
.article-content {
  display: flex;
  flex-direction: column;
}
.wrapper-action {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.subscribe {
  padding: 1.2rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
footer {
  width: 100%;
  text-align: center;
}
/**/
header * {
  font-size: var(--font-heading);
  font-weight: 700;
  line-height: 160%;
}
.logo {
  display: inline-block;
  font-size: var(--size-mid);
}
figure.banner-img img {
  width: 100%;
  max-height: 60vh;
  object-fit: cover;
}
section {
  padding: 2rem 0;
}
.section--text{
  margin-top: 1.6rem
}
.wrapper-action button{
  font-size: 1.8rem;
}
.newsletter {
  padding: 1.6rem;
  background: var(--grey-light);
  border-radius: 0.4rem;
}
/**/
@media screen and (min-width: 48rem) {
  .hidden--mobile{
  display: block;
}
  .menu-hidden {
    display: none;
  }
  .menu--all {
    display: flex;
  }
  .article-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: row dense;
  }
  .article-actions {
    grid-column: 1 / 2;
    position: relative;
  }
  .article-body {
    grid-column: 2 / -1;
  }
  .wrapper-action {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    position: sticky;
    top: 2rem;
  }
  .newsletter {
    padding: 1.6rem 10%;
  }
  .subscribe {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0;
  }
  .input {
    flex-grow: 2;
    border-radius: 0.2rem 0 0 0.2rem;
  }
  .button.button-subscribe {
    border-radius: 0 0.2rem 0.2rem 0;
  }
}

